
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto">
        <a href="index.html">Synergy LifeLine Consulting</a>
      </h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="courses.html">Courses</a></li>
          <li><a href="trainers.html">Trainers</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li class="dropdown">
            <a href="#">
              <span>Our Programs</span> <i class="bi bi-chevron-down"></i>
            </a>
            <ul>
              <li class="dropdown">
                <a href="#">
                  <span>IELTS</span> <i class="bi bi-chevron-right"></i>
                </a>
                <ul>
                  <li><a href="course-details.html">IELTS Academic Training</a></li>
                  <li><a href="course-details.html">IELTS General Training</a></li>
                  <li><a href="course-details.html">IELTS Academics for UKVI</a></li>
                  <li><a href="course-details.html">IELTS General Training for UKVI</a></li>
                  <li><a href="course-details.html">IELTS Life skills</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#">
                  <span>GRE</span> <i class="bi bi-chevron-right"></i>
                </a>
                <ul>
                  <li><a href="pricing.html#gre-exma">Exam Registration</a></li>
                  <li><a href="gre-classes.html">Class Registration</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#">
                  <span>GMAT</span> <i class="bi bi-chevron-right"></i>
                </a>
                <ul>
                  <li><a href="pricing.html#gmat-exam">Exam Registration</a></li>
                  <li><a href="gmat-classes.html">Class Registration</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#">
                  <span>TOEFL</span> <i class="bi bi-chevron-right"></i>
                </a>
                <ul>
                  <li><a href="pricing.html#toefl-exam">Exam Registration</a></li>
                  <li><a href="toefl-classes.html">Class Registration</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#">
                  <span>PTE</span> <i class="bi bi-chevron-right"></i>
                </a>
                <ul>
                  <li><a href="pricing.html#pte-exam">Exam Registration</a></li>
                  <li><a href="pte-classes.html">Class Registration</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#">
                  <span>SAT</span> <i class="bi bi-chevron-right"></i>
                </a>
                <ul>
                  <li><a href="pricing.html#sat-exam">Exam Registration</a></li>
                  <li><a href="sat-classes.html">Class Registration</a></li>
                </ul>
              </li>
              <li><a href="cgfns-classes.html">CGFNS</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

      <a href="courses.html" class="get-started-btn">Get Started</a>
    </div>
  </header>
  <!-- End Header -->



<!-- Active class switching script -->
<script>
  
</script>



